.header .navbar {
    background-color: #064635;
}


body{
    background-color: #ffffff;
}

.micard{
	
  
	background: linear-gradient(70deg,#00FE22,#F6FF70);
    box-shadow:5px 8px 15px #a2a2a2;
    margin-top: 20px;
}

.cardAdmin {
    box-shadow:5px 8px 15px #a2a2a2;
    /* background: linear-gradient(70deg, #00B9FE,#70FAFF); */
    margin-top: 50px;
    border-radius: 10px;
    min-height: 250px;
    max-width: 350px;
    padding: 10px;
}

.cardAdmin .card-body{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.miboton{
    
    min-width: 240px;
}


.centrado{
    margin:10px auto;
    display:block;
}

.excel{
    padding: 60px;
    box-shadow:5px 8px 15px #a2a2a2;
    background-color: #edfdfd;
    height: 450px;
    max-width: 800px;
    margin: 0 auto;
}

.mialert{
    background-color: #6CF3D9;
    box-shadow:5px 8px 15px #a2a2a2;
    height: 100px;
    max-width: 600px;
    margin-top: 0 auto;
    margin-top: 60px;
    padding: 20px;
}

