.header .navbar {
    background-color: #064635;
}


body{
    background-color: #FAEDF0;
}

.micard{
	
  
	background: linear-gradient(70deg,#00FE22,#F6FF70);
    box-shadow:5px 8px 15px #a2a2a2;
    margin-top: 20px;
}

.cardAdmin{
    box-shadow:5px 8px 15px #a2a2a2;
    background: linear-gradient(70deg, #00B9FE,#70FAFF);
    margin-top: 20px;
    border-radius: 10px;
}


.centrado{
    margin:10px auto;
    display:block;
}

